[Desktop Entry]
DefaultProfile={{ konsole_default_profile }}

[Favorite Profiles]
Favorites={{ konsole_default_profile }}

[KonsoleWindow]
SaveGeometryOnExit={{ konsole_save_geometry_on_exit }}
ShowAppNameOnTitleBar={{ konsole_show_app_name_on_title_bar }}
ShowMenuBarByDefault={{ konsole_show_menu_by_default }}

[MainWindow]
MenuBar={{ konsole_menu_bar }}
State=AAAA/wAAAAD9AAAAAAAACf4AAAWAAAAABAAAAAQAAAAIAAAACPwAAAAA
ToolBarsMovable=Disabled

[Notification Messages]
CloseAllTabs=true
ShowPasteHugeTextWarning={{ konsole_show_paste_huge_text_warning }}

[TabBar]
TabBarVisibility={{ konsole_tab_bar_visibility }}
