[Appearance]
ColorScheme={{ konsole_profile_color_scheme }}
Font={{ konsole_profile_font }}

[General]
Command=/bin/bash -l
Environment={{ konsole_profile_environment }}
Name=Shell

[Keyboard]
KeyBindings={{ konsole_profile_key_bindings }}

[Scrolling]
HistorySize={{ konsole_profile_history_size }}
ScrollBarPosition={{ konsole_profile_scroll_bar_position }}

[Terminal Features]
BlinkingCursorEnabled={{ konsole_profile_blinking_cursor_enabled }}
